<header>
  <nav class="flex-container">
    <span id="title">Decisions, Decisions</span>
    <div class="create-poll">
      <i>"Helping you to make <br> difficult decisions everyday!"</i>
      <!-- <span><i><b>Create</b></i> a New Poll</span>
      <i class="fas fa-poll"></i> -->
    </div>
  </nav>
</header>
