<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap" rel="stylesheet">
</head>
<header>
  <nav class="flex-container">
    <a class="a" id="title" href="/">d.Squared</a>
    <div class="create-poll">
      <i>"Helping you make the <br> difficult decisions everyday!"</i>
      <img src="/images/ballot.png">
      <!-- <span><i><b>Create</b></i> a New Poll</span>
      <i class="fas fa-poll"></i> -->
    </div>
  </nav>
</header>
