DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=midterm
# Uncomment and set to true for Heroku
# DB_SSL=true if heroku
DB_PORT=5432

DB_MAILGUNAPI='mailgun api here'

DB_MAILGUNDOMAIN='mailgun domain here'


create a .env file, copy and paste the above code.
Replace the variables as needed.