<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>My Links</title>

  <!-- font  -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i|Roboto:400,400i,700,700i&display=swap"
    rel="stylesheet">

  <!-- CSS  -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js" data-auto-a11y="true"></script>
  <!-- AJAX queries -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body class="links">

  <header>
    <% include partials/_header %>
  </header>

  <h2>Your poll has been created!</h2>

  <div class="border-1">
    <h4>Share your poll!</h4>
    <div class="flex-public-link">
      <input class="rendered-url" id="public_link" type="url" value="<%= publicURL %>">
      <button class="btn btn-dark" onclick="copyPublicLink()"><i class="far fa-copy fa-2x"></i></button>
    </div>
  </div>

  <br>

  <div class="border-2">
    <h4>See your results:</h4>
    <div class="flex-admin-link">
      <input class="rendered-url" id="admin_link" type="url" value="<%= adminURL %>">
      <button class="btn btn-dark" onclick="copyAdminLink()"><i class="far fa-copy fa-2x"></i></button>
    </div>
  </div>



  <script>
    function copyAdminLink() {
      var copyText = document.getElementById("admin_link");
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      document.execCommand("copy");
    }

    function copyPublicLink() {
      var copyText = document.getElementById("public_link");
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      document.execCommand("copy");
    }
  </script>
  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
