
nav {
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 1030;
  background-color: slategray;
  color: #FFFF;
  padding: 1em;
  top: 0;
  font-size: 24px;
  }

  .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .create-poll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 50%;
  align-items: center;
  text-align: right;
  }

  .a {
    text-decoration: none;
    color: #FFFF;
  }

  a:hover {
     color:#FFFF;
     text-decoration:none;
     cursor:default;
}
