
nav {
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 1030;
  background-color: black;
  color: #FFFF;
  padding: 1em;
  top: 0;
  font-size: 24px;
  }

  .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFF;
  }

  .create-poll {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 50%;
  }

.error-div {
  color: red;
}

a, a:visited, a:link {
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
