h2 {
  margin: 2%;
  text-align: center;
}

h4 {
  margin: 3%;
  text-align: center;
}

.border-1, .border-2 {
  border: #263548;
  border-width: 5px;
  border-style: dashed;
  margin: 2%;
  background: #A0A8B2;
}

.flex-admin-link, .flex-public-link {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin: 2%;
}

.rendered-url {
  border: none;
  background-color: transparent;
  color: #151E28;
  display: flex;
  flex: .95;
  font-size: smaller;
}
