.new-poll {
  margin: 10%;
}

.form-group {
  color: darkslategrey;
  display: flex;
  flex-direction: column;
  border: solid;
}

#box-two{
  display:none;
}

.poll-title {
  border: none;
  color: none;
}

.poll-choice {
  border: none;

}

.poll-description {
  border: none;
}

.poll-email {
  border: none;
}
