
.form-group {
  color: darkslategrey;
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.poll-title {
  border: none;
  color: none;
}

.poll-choice {
  border: none;

}

.poll-description {
  border: none;
}

.poll-email {
  border: none;
}
