// body {
//   color: black;
//   top: 120px;
//   position: relative;
//   margin-top: 2%;
//   font-family: 'Roboto', sans-serif;
//   font-size: 20px;
// }

.opening-intro {
  bottom: 0;
  position: relative;
  text-align: center;
  margin: 2%;
  margin-top: 3%;
}

.decisions-text {
  text-align: center;
}

.decisions-1 {
  margin-top: 2%;
  width: 65%;
  opacity: .8;
  transform: rotate(2deg);
}

.decisions-2 {
  margin-top: 2%;
  width: 75%;
  opacity: .8;
  transform: rotate(-3deg);
}

.decisions-3 {
  margin-top: 3%;
  width: 95%;
  opacity: .8;
  transform: rotate(2.2deg);
}
