body {
  // background-color: lightgrey;
  // background-image: url("/images/decisions-background.jpg");
  color: #545149;
  top: 120px;
  position: relative;
  margin-top: 2%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.top-intro {
  bottom: 0;
  position: relative;
  text-align: center;
  margin: 2%;
}
