// See: https://sass-lang.com/

@import "Partials/_variables.scss";
@import "Partials/_header.scss";
@import "Partials/_new-poll.scss";
@import "Partials/voting_poll";


body {
  background-color: lightgrey;
  background-image: url("/images/decisions-background.jpg");
  top: 120px;
  position: relative;
  margin-top: 2%;
}



