// See: https://sass-lang.com/

@import "partials/_variables.scss";
@import "partials/_header.scss";
@import "partials/new-poll";

body {
  background-color: lightgrey;
  top: 120px;
  position: relative;
  margin-top: 5%;
}

p {
  margin: 3%;
}
